html,
body {
	height: 100%;
	scroll-behavior: smooth;
	scroll-padding: 90px;
}

body {
	max-width: 2560px;
	margin: 0 auto;
	background-color: var(--theme-bg);
	position: relative;
	transition: all 300ms;
}
body:where(.blog, .project) {
	margin-top: 90px;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}

pre {
  padding: 1em;
  border-radius: 0.5em;
  overflow: auto;
}

pre .language-id {
  display: none;
}

time {
	font-size: .6rem;
}

h1, h2, h3, h4, h5 ,h6, p, div, span {
	font-family: var(--theme-font-family-effra);
}

.hide {
	display: none !important;
}

.content__container {
    padding: 0 10px;
    max-width: var(--container-max-width);
    margin: 0 auto;
}
section {
	padding: 0 10px;
	margin: 20px 0;
	h2 {
		font-size: var(--font-size-md);
    	font-family: var(--theme-font-family-effra);
	}
}
.align-center {
	text-align: center;
	.elementor-button-wrapper {
		text-align: center;
	}
}

.list {
	background: #cccccc47;
    padding: 10px 10px;
	width: 100%;
	border-radius: 5px;
	box-shadow: 3px 3px 3px #cccccc7d;
	display: flex;
	&:hover {
		box-shadow: 3px 3px 3px #12121244;
	}
	.info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
    	gap: 10px;
	}

}
.content-container {
	display: flex;
    flex-wrap: wrap;
	.content {
		width: 70%;
	}
	aside {
		width: 30%;
	}
}
.link-card-grid {
    gap: 10px;
	list-style: none;
	margin: 0;
    padding-inline-start: 0;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	li {
		width: 49%;
		.info-text {
			a {
				display: block;
			}
			h3 {
				font-size: var(--font-size-base);
			}
			.date {
				font-size: var(--font-size-xsm);
				font-style: italic;
			}
			.description {
				font-size: var(--font-size-sm);
				overflow: hidden;
    			white-space: wrap;
			}
		}
		.info-btn {
			a {
				font-size: var(--font-size-sm);
			}
		}
	}
}
.icon {
	width: 150px;
    min-height: 70px;
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.425);
    justify-content: center;
    align-items: center;
	background: #fff;
	&:hover {
		box-shadow: 3px 3px 3px #12121244;
	}
	a {
		display: inline-flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		width: 100%;
		padding: 10px 0;
		font-size: var(--font-size-sm);
	}
	i {
		font-size: 24px;
		margin: 0 10px 0 0;
	}
	h3 {
		font-size: 22px;
	}
	&.has-submenu {
		position: relative;
		.sub-menu {
			position: absolute;
			left: 0;
			top: 100%;
			display: none;
			background: #fff;
			transition: all 300ms ease-in;
		}
		.back {
			display: none;
		}

		&:hover {
			.sub-menu {
				transition: all 300ms ease-in;
				display: flex;
				flex-direction: column;
			}
		}
	}
}
.btn {
	font-weight: 500;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    border: 1px solid #001;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all .1s ease-in;
	font-size: var(--font-size-sm);
	margin: 10px 0;
	min-width: 100px;
    justify-content: center;
	&:hover {
		transform: translate(0,-3px);
   	 	box-shadow: 7px 7px 1px #ccc;
		font-weight: 600;
	}
	&.btn-yellow {
		background-color: #F7D842 !important;
		color: #000;
	}
}

.flex {
	display: flex;
	&.justify-center {
		justify-content: center;
	}
	&.flex-wrap {
		flex-wrap: wrap;
	}
}

@media (max-width: 991px) {

}

@media (max-width: 768px) {
	.content-container {
		display: flex;
		flex-wrap: wrap;
		.content {
			width: 100%;
			padding: 0;
		}
		aside {
			width: 100%;
			padding: 0;
		}
	}
}
@media (max-width: 750px) {
	.link-card-grid {
		li {
			width: 100%;
		}
	}
}