---
import '../styles/sip/index.less';

import BaseHead from './BaseHead.astro';
import Header from './Header.astro';
import SIPLogo from '../components/Logo.astro';

const { title, meta_description, body_class } = Astro.props;

---
<!doctype html>
<html lang="en" >
	<head>
		<BaseHead title={title} description={meta_description} image="/sip/favicon.ico" />			
	</head>

	<body class={body_class}>
		<Header slot="header">
			<span slot="logo">
				<SIPLogo />
			</span>
		</Header>
		<slot />

	</body>
</html>


